.bg{
    background-color: #299191;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
}

.gbg{
    background-color: #a6ce38;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png);

}

.wbg{
        background-color:#ffffff;
    background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
}